{% extends 'layout/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container d-flex justify-content-between">
    <div>
        <h3>{{title}}</h3>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'storageapp:nomen_create' %}" class="btn btn-outline-dark">
            <i class="bi bi-plus-lg"></i> Добавить Номен
        </a>
    </div>
</div>
<div class="container">
    <div class="col-6">
        <form action="/storage/" method="post" class="col-auto mb-3">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control"
                       placeholder="Введите номер название или артикул товара..." name="data_for_search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" value="OK">Поиск</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <a href="{% url 'storageapp:index' %}" class="link-dark">Все({{ products_count|floatformat:0 }})</a>
    {% for item in category_links %}
        <a href="{% url 'storageapp:by_category' item.slug %}" class="link-dark">
            {{item.name}}({{ item.get_products_amount_by_category|floatformat:0 }})
        </a>
    {% endfor %}
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Рулоны</th>
            <th scope="col">Нарезка</th>
            <th scope="col">Артикул</th>
            <th scope="col">Категория</th>
        </tr>
        </thead>
        <tbody>
        {% for item in objects %}
        <tr>
            <th scope="row">
                <a href="{% url 'storageapp:nomen_detail' item.slug %}" class="link-dark">{{ item.name }}</a>
            </th>
            <td>{{ item.get_quantity|floatformat:0 }}</td>
            <td>
                {% for qnt in item.get_prod_retail %}
                    {{ qnt.amount }}
                {% endfor %}
            </td>
            <td>{{ item.part_number }}</td>
            <td>{{ item.category }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
    </div>
</div>
{% endblock %}
