{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <a href="{% url 'storageapp:index' %}" class="link-dark"><i class="bi bi-arrow-left"></i>К товарам</a>
    <div class="card mb-4">
        <div class="card-header">{{ title }} <strong>"{{obj.name}}"</strong>
        </div>
        <div class="card-body">
            <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="container d-flex justify-content-around">
                    <div>
                        <input type="submit" class="form-control btn btn-outline-dark" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}