{% extends 'layout/base.html' %}
{% load static %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}

<div class="container">
    <a href="javascript:history.go(-1)" class="link-dark"><i class="bi bi-arrow-left"></i>Назад</a>
    <h2>{{ object.name }}</h2>
    <p>Артикул: {{ object.name.part_number }}</p>
    <p>Категория: {{ object.name.category }}</p>
    <p>Количество: {{object.get_product_sum }}</p>
    <p>Доступные партии:</p>
    <div style="max-width: 25%;">
        <table class="table table-sm">
            <tr>
                <th>Партия</th>
                <th>Количество</th>
            </tr>
            {% for key, value in object.get_batches_of_product.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <p>Описание: {{object.name.description}}</p>
</div>
{% endblock %}