{% extends 'layout/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container d-flex justify-content-between">
    <div><h3>{{title}}</h3></div>
    <div><a href="{% url 'partnersapp:create' %}" class="btn btn-outline-dark">
        <i class="bi bi-plus-lg"></i> Добавить
    </a></div>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Город</th>
            <th scope="col">Телефон</th>
            <th scope="col">Контакт</th>
        </tr>
        </thead>
        <tbody>
        {% for item in partners_objects %}
        <tr>
            <th scope="row">{{ item.pk }}</th>
            <td><a href="{% url 'partnersapp:update' item.pk %}" class="link-dark">{{ item.name }}</a></td>
            <td>{{ item.partner_city }}</td>
            <td>{{ item.contact_phone }}</td>
            <td>{{ item.contact_person }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
