{% load static %}
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi bi-arrows-fullscreen"></i> <span class="fs-5 d-none d-sm-inline">CRM</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="{% url 'mainapp:index' %}" class="nav-link align-middle px-0 link-light">
                <i class="bi bi-house"></i> <span class="ms-1 d-none d-sm-inline color-white">Главная</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'todoapp:index' %}" class="nav-link align-middle px-0 link-light">
                <i class="bi bi-list-task"></i> <span class="ms-1 d-none d-sm-inline color-white">Задачи</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0 link-light">
                <i class="bi bi-aspect-ratio"></i> <span class="ms-1 d-none d-sm-inline color-white">Заказы</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'storageapp:index'%}" class="nav-link px-0 align-middle link-light">
                <i class="bi bi-box-seam"></i> <span class="ms-1 d-none d-sm-inline color-white">Склад</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'partnersapp:index' %}" class="nav-link align-middle px-0 link-light">
                <i class="bi bi-person-square"></i> <span class="ms-1 d-none d-sm-inline color-white">Контрагенты</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0 link-light">
                <i class="bi bi-bar-chart-line"></i> <span class="ms-1 d-none d-sm-inline color-white">Статистика</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0 link-light">
                <i class="bi bi-truck"></i> <span class="ms-1 d-none d-sm-inline color-white">Транспорт</span>
            </a>
        </li>
            <li class="nav-item">
                <a href="{% url 'admin:index' %}" class="nav-link align-middle px-0 link-light">
                    <i class="bi bi-diagram-3"></i> <span class="ms-1 d-none d-sm-inline color-white">Админка</span>
                </a>
            </li>
    </ul>

</div>