{% load static %}

<div class="bg-dark min-vw-100 d-flex justify-content-between text-white">
    <div>
            <a href="/" class="align-items-center text-white text-decoration-none">
                <i class="bi bi-arrows-fullscreen"></i> <span class="fs-5 d-none d-sm-inline"> KSK_CRM</span>
            </a>
        </div>
    <div class="d-flex justify-content-center">
        <ul class="nav nav-pills mb-6 " id="menu">
            <li class="nav-item mx-auto ps-3">
                <a href="{% url 'mainapp:index' %}" class="nav-link align-middle px-0 link-light">
                    <i class="bi bi-house"></i> <span class="ms-1 d-none d-sm-inline color-white">Главная</span>
                </a>
            </li>
            <li class="nav-item mx-auto ps-3">
                <a href="{% url 'todoapp:index' %}" class="nav-link align-middle px-0 link-light">
                    <i class="bi bi-list-task"></i> <span class="ms-1 d-none d-sm-inline color-white">Задачи</span>
                </a>
            </li>
            <li class="nav-item mx-auto ps-3">
                <a href="{% url 'ordersapp:index' %}" class="nav-link align-middle px-0 link-light">
                    <i class="bi bi-aspect-ratio"></i> <span class="ms-1 d-none d-sm-inline color-white">Заказы</span>
                </a>
            </li>
            <li class="nav-item mx-auto ps-3">
                <a href="{% url 'storageapp:index' %}" class="nav-link px-0 align-middle link-light">
                    <i class="bi bi-box-seam"></i> <span class="ms-1 d-none d-sm-inline color-white">Склад</span>
                </a>
            </li>
            <li class="nav-item mx-auto ps-3">
                <a href="{% url 'partnersapp:index' %}" class="nav-link align-middle px-0 link-light">
                    <i class="bi bi-person-square"></i> <span class="ms-1 d-none d-sm-inline color-white">Контрагенты</span>
                </a>
            </li>
            <li class="nav-item mx-auto ps-3">
                <a href="{% url 'transportapp:index' %}" class="nav-link align-middle px-0 link-light">
                    <i class="bi bi-truck"></i> <span class="ms-1 d-none d-sm-inline color-white">Транспорт</span>
                </a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item mx-auto ps-3">
                <a href="{% url 'admin:index' %}" class="nav-link align-middle px-0 link-light" target="_blank">
                    <i class="bi bi-diagram-3"></i> <span class="ms-1 d-none d-sm-inline color-white">Админка</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div id="user_place">
        {% if user.first_name %}
            {{user.first_name}}
        {% else %}
            {{user.username}}
        {% endif %}|
        <a href="{% url 'logout' %}" class="link-light">Выход</a>
    </div>
</div>
