{% extends 'layout/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container d-flex justify-content-between">
    <div>
        <h3>{{title}}</h3>
    </div>

</div>
<div class="container d-flex justify-content-between">
    <div>
        <a href="{% url 'ordersapp:index' %}" class="btn btn-outline-dark mb-3">Все</a>
        <a href="{% url 'ordersapp:active_orders' %}" class="btn btn-outline-success mb-3">Активные</a>
    </div>
    <div class="col-6">
        <form action="/orders/" method="post" class="col-auto mb-3">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control"
                       placeholder="Введите номер заказа" name="data_for_search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" value="OK">Поиск</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <a href="{% url 'ordersapp:order_create' %}" class="btn btn-outline-dark mb-3">
            <i class="bi bi-plus-lg"></i> Новый Заказ
        </a>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Покупатель</th>
        <th>Товар: Количество</th>
        <th>ТК/Адрес</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
        {% for item in objects %}
        <tr>
            <td>
                <a href="{% url 'ordersapp:order_detail' item.pk%}" class="link-dark">
                    <b>Заказ № {{ item.pk }}</b>
                </a>
                <br>{{ item.created_at|date:"d.m.Y" }}
            </td>
            <td>
                <a href="{% url 'ordersapp:order_detail' item.pk%}" class="link-dark">
                    {{ item.partner.partner_city }}, {{ item.partner.name }}
                </a><br>
                {% if item.shipped %}
                    <span style="font-size: 12px;">Отгружен {{ item.shipped_date|date:"d.m.Y" }}</span>
                {% endif %}
            </td>
            <td>
                <table>
                    {% for good in item.get_order_products_list %}
                    <tr>
                        <td>{{ good.product.name }}:</td>
                        <td style="text-align:center;width: 30%">
                            {% if good.is_retail %}
                                {{ good.amount }} м.п.
                            {% else %}
                                {{ good.amount|floatformat:0 }} рул.
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                {%if item.tk%}
                    <img src="{{item.tk.logo}}" style="height: 20px;"> {{ item.tk }}
                {%endif%}
                {%if item.self_pickup%}
                Самовывоз
                {%elif item.partner.address%}<i class="bi bi-truck"></i>
                        {{item.partner.address}} <br>
                    <a href="https://yandex.ru/maps/?text={{item.partner.address}}" class="link-dark" target="_blank">
                        Посмотреть на карте <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                {%endif%}

            </td>
            <td>
                {% if not item.payed and not item.shipped %}
                    <span class="badge bg-info text-dark">Новый</span>
                {%endif%}
                {% if item.payed %}
                    <span class="badge bg-warning text-dark">Оплачен</span><br>
                {% endif %}
                {% if item.shipped %}
                    <span class="badge bg-success">Отгружен</span>
                {% endif %}
            </td>
        </tr>
        <tr style="border-bottom:1px solid black">
            <td colspan="5"><span style="margin-left: 16px;">Комментарий: {{ item.comment}}</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="container">
</div>
{% endblock %}
