{% extends 'layout/base.html' %}
{% load static %}
{% block title %} {{ title}} {% endblock %}
{% block content %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header">{{ title }}
        </div>
        <div class="card-body">
            <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Наименование: {{ object.product }}</p>
                <p>Количество:
                    <input type="text" value="{{ object.amount }}" name="amount">
                </p>
                <p>
                    <select aria-label="Партия" id="batch" name="batch" value="{{object.batch}}">
                        {% for obj in object.get_batches_by_product %}
                        <option value="{{obj}}" {%if object.batch == obj.batch %}selected {%endif%}>{{obj}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p><label for="is_retail">Нарезка</label>
                    <input type="checkbox" name="is_retail" id="is_retail" {% if object.is_retail %} checked {% endif %}>
                </p>

                <div class="container d-flex justify-content-around">
                    <div>
                        <input type="submit" class="form-control btn btn-outline-dark" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}