{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding-top: 20px; margin: 0 auto;">
    <div class="card mb-4" style="max-width: 300px; margin: 0 auto;">
        <div class="card-header">{{ title }}
        </div>
        <div class="card-body">
            <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="container d-flex justify-content-around">
                    <div>
                        <input type="submit" class="form-control btn btn-outline-dark" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}